<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>namespace</key>
	<string></string>
	<key>project</key>
	<string>GDMap</string>
	<key>supports</key>
	<array>
		<dict>
			<key>paiNotes</key>
			<string>POI 关键字搜索</string>
			<key>api</key>
			<string>arena.device.geolocation.poisearch</string>
			<key>method</key>
			<string>poiKeywordsSearch:</string>
			<key>className</key>
			<string>GDMapManager</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>paiNotes</key>
			<string>单次定位</string>
			<key>api</key>
			<string>arena.device.geolocation.get</string>
			<key>method</key>
			<string>getLocation:</string>
			<key>className</key>
			<string>GDMapManager</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>paiNotes</key>
			<string>开始获取当前地理位置</string>
			<key>api</key>
			<string>arena.device.geolocation.start</string>
			<key>method</key>
			<string>startUpdatingLocation:</string>
			<key>className</key>
			<string>GDMapManager</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>paiNotes</key>
			<string>停止获取当前地理位置</string>
			<key>api</key>
			<string>arena.device.geolocation.stop</string>
			<key>method</key>
			<string>stopUpdatingLocation</string>
			<key>className</key>
			<string>GDMapManager</string>
			<key>async</key>
			<true/>
		</dict>
		<dict>
			<key>paiNotes</key>
			<string>显示MapView</string>
			<key>api</key>
			<string>arena.biz.map.view</string>
			<key>method</key>
			<string>showMapview:</string>
			<key>className</key>
			<string>GDMapManager</string>
			<key>async</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
